.loginImage {
  background-image: url("../imagens/LogInImg.jpg");
}

.gridClass {
  height: 100vh;
  width: 100vh;
}

.paperClass {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

.avatarClass {
  background-color: white !important;
  margin: 0.5em;
}

.formClass {
  margin-top: 1em;
  width: 100%;
}

.submitClass {
  margin: 3em, 0em, 2em;
}
